body
{
font-size: 100%;
color:#000000;
background-color:#f1f1f1;
margin:10px;
}

body, p, h1, h2, h3, h5, table, td, th, ul, ol, textarea, input
{font-family: verdana,helvetica,arial,sans-serif;}

th, td {
    padding: 15px; vertical-align:top;
}

h1 {font-size:160%;}
h2 {font-size:120%;margin:20px 0;}
h3 {font-size:110%;}
h4 {font-size:100%;}
h5 {font-size:70%;}

a:link    {color:#000080;background-color:transparent; text-decoration: none;}
a:visited {color:#000080; background-color:transparent}
a:active  {color:#0000FF; background-color:transparent}
a:hover   {color:#0000FF; background-color:transparent}

a.left:link    {text-decoration:none;color:black;background-color:transparent}
a.left:visited {text-decoration:none;color:black;background-color:transparent}
a.left:hover   {text-decoration:underline;color:#900B09;background-color:transparent}
a.left:active  {text-decoration:underline;color:#900B09;background-color:transparent}

a.red:link    {color:#900B09; background-color:transparent}
a.red:visited {color:#900B09; background-color:transparent}
a.red:active  {color:#FF0000; background-color:transparent}
a.red:hover   {color:#FF0000; background-color:transparent}

.button {
    background-color: #003399;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
